* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

main {
    padding: 36px;
}

.header {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    height: 65px;
    color:white;
    padding: 20px;

}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}



.form {
   display: grid;
   grid-template: 40px 40px / 1fr 1fr;
   gap: 17px
}

.form--input {
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    
   
}

.form--button {

    grid-column: 1 / -1;
    border-radius: 5px;
    height: 40px;
    color: white;
    border: none;
    cursor: pointer;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
   
}